/* Coding By MAϟUMㅤKHAN | YourArfat.net */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #dde1e7;
}
.container{
  width: 60%;
  transform: rotate(-270deg);
}
.wrapper{
  min-width: 750px;
  max-width: 1000px;
  padding: 20px;
  border-radius: 5px;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94,104,121,0.288);
}
.wrapper .keys{
  display: flex;
  justify-content: center;
}
.wrapper .keys input{
  height: 50px;
  width: 50px;
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: gray;
  background: #dde1e7;
  box-shadow: -3px -3px 7px #ffffff73,
  2px 2px 5px rgba(94, 104, 121, 0.288);
}
.wrapper .keys input[value="space"]{
  width: 58%;
}
.wrapper .keys input:hover{
  color: #f00;
  font-size: 19px;
  box-shadow: inset -3px -3px 7px #ffffff73,
             inset  2px 2px 5px rgba(94,104,121,0.288);
}
